
<% content_for :title do %>My super sweet dashboard<% end %>


<div class="gridster">
 

  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-view="Image" data-image="/Farm.jpg" onclick="location.href='http://tboard.standartmaster.ru/Farm';"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">

    <div data-view="Image" data-image="/Myusli.png" onclick="location.href='http://tboard.standartmaster.ru/Myusli';"></div>
     </li>
   <!--  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
     <div data-id="piechartFarm" data-view ="PieChart" data-title=""  data-moreinfo="" data-right-margin="10" data-bottom-margin="5" onclick="location.href='http://www.stackoverflow.com';" ></div>
    </li>-->
    
   <!-- 
       
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="telegram" data-view="Telegram" data-unordered="true" data-title="Telegram" data-moreinfo="" style="background-color:#9966CC"></div>
    </li>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix=""></div>
    </li>
  
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="month_co_requests" data-view="Rickshawgraph" data-renderer="bar" data-unstack="true" data-colors="#ae6314:#df8117" data-legend="true" data-title="Заявки по месяцам" style="background-color:#ff9618"></div>
    </li>
  


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Прибыль" style="background-color:#ff9618"></div>
    </li>
  
  
  
  
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="linechart" data-view ="LineChart" data-title="Прибыль" data-moreinfo=""></div>
  </li>
  -->


  </ul>
</div>
