
<% content_for :title do %>My super sweet dashboard<% end %>


<div class="gridster">
 

  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="piechartFarm" data-view ="PieChart" data-title=""  data-moreinfo="" data-right-margin="10" data-bottom-margin="5" ></div>
  </li>
    
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
    <div data-id="barchartFarm" data-view ="BarChart" data-title="" data-moreinfo="" style="background-color:#ff9618" ></div>
  </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="barchartSrFarm" data-view ="BarChart" data-title="" data-moreinfo="" style="background-color:#6699FF" ></div>
  </li>
    
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="barchartSumFarm" data-view ="BarChart" data-title="" data-moreinfo="" style="background-color:#008080" ></div>
  </li>
  <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="barchartSebesFarm" data-view ="BarChart" data-title="" data-moreinfo="" style="background-color:#039BE5" ></div>
  </li>
  

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwordsKasFarm" data-view="List" data-unordered="true" data-title="Выручка по кассам" data-moreinfo="" style="background-color:#9966CC"></div>
    </li>
  
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwordsKasMFarm" data-view="List" data-unordered="true" data-title="Выручка по кассам за месяц" data-moreinfo="" style="background-color:#9966CC"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="MultiFarm" data-view="Text" data-title="За сегодня" style="background-color:#990033"></div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="MultiMFarm" data-view="Text" data-title="За месяц" style="background-color:#990033"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dataSebesPrecentFarm" data-view="Number" data-title="Себест %" data-moreinfo="" data-suffix="%" style="background-color:#6666FF"></div>
    </li>
  
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dataSebesMounthPrecentFarm" data-view="Number" data-title="Себест % месяц" data-moreinfo=""  data-suffix="%" style="background-color:#6666FF"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SrCheckFarm" data-view="Number" data-title="Средний чек" data-moreinfo="" style="background-color:#990066"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SrCheckMFarm" data-view="Number" data-title="Средний чек месяц" data-moreinfo="" style="background-color:#990066"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dataZakazFarm" data-view="Number" data-title="Заказов" data-moreinfo="" style="background-color:#993366"></div>
    </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dataZakazMFarm" data-view="Number" data-title="Заказов за месяц" data-moreinfo=""style="background-color:#993366" ></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dataSebesFarm" data-view="Number" data-title="Себест" data-moreinfo="" ></div>
    </li>
  
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dataSebesMFarm" data-view="Number" data-title="Себест месяц" data-moreinfo="" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="maxFarm" data-view="Max" data-title="Выручка" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="" ></div>
    </li>
    
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="progress_barsFarm" data-view="ProgressBars" data-title="Project Bars" style="background-color:#4682B4"></div>
  </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwordsTypeMFarm" data-view="List" data-unordered="true" data-title="Топ по типам скидки месяц" data-moreinfo="" style="background-color:#669999"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwordsTypeTodayFarm" data-view="List" data-unordered="true" data-title="Топ по типам скидки" data-moreinfo="" style="background-color:#669999"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwordsFarm" data-view="List" data-unordered="true" data-title="По типам оплаты" data-moreinfo=""></div>
    </li>
  
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwordsMFarm" data-view="List" data-unordered="true" data-title="По типам оплаты за месяц" data-moreinfo=""></div>
    </li>
  
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="TopGruppMFarm" data-view="List" data-unordered="true" data-title="Топ по группам блюд за месяц" data-moreinfo="" style="background-color:#009966"></div>
    </li>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="TopGruppMPrecentFarm" data-view="List" data-unordered="true" data-title="Топ по группам блюд за месяц (%)" data-moreinfo="" style="background-color:#009966"></div>
    </li> 
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="TopGruppMCountFarm" data-view="List" data-unordered="true" data-title="Топ по группам блюд за месяц (Кол.)" data-moreinfo="" style="background-color:#009966"></div>
    </li>
  

  
  
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="TopBludMFarm" data-view="List" data-unordered="true" data-title="Топ по блюдам за месяц" data-moreinfo="" style="background-color:#009966"></div>
    </li>
    
    
   
   
    
  
   
   <!-- 
       
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="telegram" data-view="Telegram" data-unordered="true" data-title="Telegram" data-moreinfo="" style="background-color:#9966CC"></div>
    </li>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix=""></div>
    </li>
  
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="month_co_requests" data-view="Rickshawgraph" data-renderer="bar" data-unstack="true" data-colors="#ae6314:#df8117" data-legend="true" data-title="Заявки по месяцам" style="background-color:#ff9618"></div>
    </li>
  


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Прибыль" style="background-color:#ff9618"></div>
    </li>
  
  
  
  
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="linechart" data-view ="LineChart" data-title="Прибыль" data-moreinfo=""></div>
  </li>
  -->


  </ul>
</div>
