// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;

  .title {
   font-size: 40pt;
    color: $title-color;
    left: 0;
      right: 0;
      top: 10px;
      position: absolute;
  }

  .more-info {
    color: $moreinfo-color;
  }
  .value{
    font-size: 55pt;
  }
  .value1{
    font-size: 30pt;
  }
  .value2{
    font-size: 40pt;
  }
  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
}
